*{
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.hero{
padding-top: 40px;
padding-bottom: 40px;
background-color: #1abc9c;
color:white;
}

.m20{
    margin-top:100px;
    margin-bottom: 80px;
}
.m10{
    margin-top:10px;
}
.great{
    padding-bottom: 80px;
    background-image: url('../img/bf.jpg');
    background-size: cover;
}

.btn-big{
  padding-top: 15px;
  font-weight: bolder;
  height: 50px;
}

.btn-ver{
    background-color: #FF4500;
    border: 1px solid #B23000;
    border-radius: 0px;
    color:white;
}

.btn-ver:hover{
background-color: #B23000;
    border: 1px solid #FF4500;
    border-radius: 0px;
    color:white;
}


footer{
    background-color: #333;
    padding-top: 40px;
    padding-bottom: 80px;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
footer ul li a{
    color:#fff;
    padding: 4px;
    border: 1px solid #fff;
}
footer ul li a:hover{
    color:#333;
    background-color: #fff;
    padding: 4px;
    border: 1px solid #fff;
    text-decoration: none;
}