*{
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.hero{
padding-top: 40px;
padding-bottom: 40px;
background-color: #6ec49e;
color:white;
}

.m20{
    margin-top:100px;
    margin-bottom: 80px;
}
.m10{
    margin-top:10px;
}
.great{
    padding-bottom: 100px;
    background-image: url('../img/bf.jpg');
    background-size: cover;
}

.great a{color:#fff}
.great a:hover{color:#fff;}

.great2{
    padding-bottom: 100px;
    background-image: url('../img/bff.jpg');
    background-size: cover;
}
.great2 h1, .great2 h3{
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);

}

.great2 a{color:#fff;}
.great2 a:hover{color:#fff;}

.btn-ghost{
    border:2px solid white;
    border-radius: 0px;
    background: transparent;
    font-size: 21px;
}

.btn-danger{
text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
background-color: #f5756c;
background: -moz-linear-gradient(#f7766c,#f66359),#f5756c;
background: -webkit-linear-gradient(#f7766c,#f66359),#f5756c;
background: linear-gradient(#f7766c,#f66359),#f5756c;

-moz-box-shadow: inset rgba(255,255,255,0.5) 0 1px 0,rgba(0,0,0,0.3) 0 1px 2px;
-webkit-box-shadow: inset rgba(255,255,255,0.5) 0 1px 0,rgba(0,0,0,0.3) 0 1px 2px;
box-shadow: inset rgba(255,255,255,0.5) 0 1px 0,rgba(0,0,0,0.3) 0 1px 2px;
-moz-border-radius: 4px;
border:0px solid white;

-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
}

.btn-danger:hover{
-moz-box-shadow: inset rgba(255,255,255,0.3) 0 1px 0,rgba(0,0,0,0.3) 0 1px 2px,#f5756c 0 1px 40px;
-webkit-box-shadow: inset rgba(255,255,255,0.3) 0 1px 0,rgba(0,0,0,0.3) 0 1px 2px,#f5756c 0 1px 40px;
box-shadow: inset rgba(255,255,255,0.3) 0 1px 0,rgba(0,0,0,0.3) 0 1px 2px,#f5756c 0 1px 40px;
}

.btn-warning{
padding-top: -5px;
text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
background-color: #F5EE6C;
background: -moz-linear-gradient(#F7D66C,#F6BC59),#F5EE6C;
background: -webkit-linear-gradient(#F7D66C,#F6BC59),#F5EE6C;
    background: linear-gradient(#F7D66C,#F6BC59),#F5EE6C;


    border:0px solid white;
}

.btn-big{
  padding-top: 15px;
  font-weight: bolder;
  height: 50px;
}

.btn-ver{
    background-color: #FF4500;
    border: 1px solid #B23000;
    border-radius: 0px;
    color:white;
}

.btn-ver:hover{
background-color: #B23000;
    border: 1px solid #FF4500;
    border-radius: 0px;
    color:white;
}


footer{
    background-color: #333;
    padding-top: 40px;
    padding-bottom: 80px;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
footer ul li a{
    color:#fff;
    padding: 4px;
    border: 1px solid #fff;
}
footer ul li a:hover{
    color:#333;
    background-color: #fff;
    padding: 4px;
    border: 1px solid #fff;
    text-decoration: none;
}



.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(0,0,0,.3);
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    color:#6ec49e;
    background-color:rgba(0,0,0,0);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: rgba(0,0,0,0.7);
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}
